# Trae IDE folder
.trae/

# OS specific
.DS_Store
Thumbs.db

# Project dependencies
node_modules/
dist/
build/
tmp/*
!tmp/.gitkeep
.adonisjs/

# Secrets
.env
.env.local
.env.production.local
.env.development.local

# Frontend assets compiled code
public/assets

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode

# Test files
test_output.txt
test_log.txt
